In [99]:
import pandas as pd
import re

## Loading the data

In [100]:
batting_df = pd.read_csv("D:/DataspellProjects/Data Science/Projects/Cricket Analytics/scraped-csv/batting_info.csv")
bowling_df = pd.read_csv("D:/DataspellProjects/Data Science/Projects/Cricket Analytics/scraped-csv/bowling_info.csv")
player_info_df = pd.read_csv("D:/DataspellProjects/Data Science/Projects/Cricket Analytics/scraped-csv/player_info.csv")
results_df = pd.read_csv("D:/DataspellProjects/Data Science/Projects/Cricket Analytics/scraped-csv/match_results.csv")

## Match Results df

In [101]:
results_df.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard,Match link
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823,/ci/engine/match/1298135.html
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825,/ci/engine/match/1298136.html
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826,/ci/engine/match/1298137.html
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828,/ci/engine/match/1298138.html
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830,/ci/engine/match/1298139.html

In [102]:
#Renaming scorecard column to Match_id
results_df.rename(columns={'Scorecard':'Match_id'},inplace=True)
results_df.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_id,Match link
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823,/ci/engine/match/1298135.html
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825,/ci/engine/match/1298136.html
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826,/ci/engine/match/1298137.html
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828,/ci/engine/match/1298138.html
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830,/ci/engine/match/1298139.html

## Batting df

In [103]:
batting_df.head()

,Match,Match_id,Team Innings,Batting Position,Batsman Name,Dismissal,Runs,Balls,Fours,Sixes,SR
0,Namibia Vs Sri Lanka,T20I # 1823,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,T20I # 1823,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,T20I # 1823,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,T20I # 1823,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,T20I # 1823,Namibia,5,Gerhard Erasmus (c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [104]:
#Cleaning the Batsman Name column
batting_df_name_cleaned = batting_df.copy()
batting_df_name_cleaned['Batsman Name'] = batting_df_name_cleaned['Batsman Name'].apply(lambda x: re.sub("[^A-Z()\s-]", "", x,0,re.IGNORECASE)) #Removing special characters

#Removing (c) from the names
for index,name in enumerate(batting_df_name_cleaned['Batsman Name']):
    cleaned_name = name
    if re.search('[A-Za-z\-\s]+ \(c\)',name):
        cleaned_name = ' '.join(re.findall("([A-Za-z\-\s]+) \(c\)",name,re.IGNORECASE))
    cleaned_name=cleaned_name.strip()
    batting_df_name_cleaned['Batsman Name'].loc[index]=cleaned_name

batting_df_name_cleaned

C:\Users\yashd\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Match,Match_id,Team Innings,Batting Position,Batsman Name,Dismissal,Runs,Balls,Fours,Sixes,SR
0,Namibia Vs Sri Lanka,T20I # 1823,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,T20I # 1823,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,T20I # 1823,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,T20I # 1823,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,T20I # 1823,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,T20I # 1879,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,T20I # 1879,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,Pakistan Vs England,T20I # 1879,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,T20I # 1879,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,T20I # 1879,England,7,Liam Livingstone,not out,1,1,0,0,100.00

In [105]:
#Converting dismissal column to a binary column showing the player was out or not out
# 0-> out ; 1-> not out
batting_df_out = batting_df_name_cleaned.copy()
batting_df_out['is_out'] = batting_df_out.Dismissal.apply(lambda x: 0 if x=='not out' else 1)
batting_df_out.head(10)

,Match,Match_id,Team Innings,Batting Position,Batsman Name,Dismissal,Runs,Balls,Fours,Sixes,SR,is_out
0,Namibia Vs Sri Lanka,T20I # 1823,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,1
1,Namibia Vs Sri Lanka,T20I # 1823,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,1
2,Namibia Vs Sri Lanka,T20I # 1823,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,1
3,Namibia Vs Sri Lanka,T20I # 1823,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,1
4,Namibia Vs Sri Lanka,T20I # 1823,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33,1
5,Namibia Vs Sri Lanka,T20I # 1823,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,1
6,Namibia Vs Sri Lanka,T20I # 1823,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,1
7,Namibia Vs Sri Lanka,T20I # 1823,Namibia,8,JJ Smit,not out,31,16,2,2,193.75,0
8,Sri Lanka Vs Namibia,T20I # 1823,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,1
9,Sri Lanka Vs Namibia,T20I # 1823,Sri Lanka,2,Kusal Mendis,c â€ Green b Wiese,6,6,0,0,100.00,1

In [106]:
#Calculating Boundary runs for each player
boundary_runs=[]
for index,row in batting_df_out.iterrows():
    runs = (row['Fours']*4) + (row['Sixes']*6)
    boundary_runs.append(runs)
batting_df_out['Boundary Runs']=boundary_runs
batting_df_out.head(10)

,Match,Match_id,Team Innings,Batting Position,Batsman Name,Dismissal,Runs,Balls,Fours,Sixes,SR,is_out,Boundary Runs
0,Namibia Vs Sri Lanka,T20I # 1823,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,1,0
1,Namibia Vs Sri Lanka,T20I # 1823,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,1,4
2,Namibia Vs Sri Lanka,T20I # 1823,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,1,16
3,Namibia Vs Sri Lanka,T20I # 1823,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,1,8
4,Namibia Vs Sri Lanka,T20I # 1823,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33,1,0
5,Namibia Vs Sri Lanka,T20I # 1823,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,1,16
6,Namibia Vs Sri Lanka,T20I # 1823,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,1,0
7,Namibia Vs Sri Lanka,T20I # 1823,Namibia,8,JJ Smit,not out,31,16,2,2,193.75,0,20
8,Sri Lanka Vs Namibia,T20I # 1823,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,1,4
9,Sri Lanka Vs Namibia,T20I # 1823,Sri Lanka,2,Kusal Mendis,c â€ Green b Wiese,6,6,0,0,100.00,1,0

In [107]:
#Dropping the dismissal column
batting_df_cleaned = batting_df_out.drop(['Dismissal'], axis=1)
batting_df_cleaned.head(10)

,Match,Match_id,Team Innings,Batting Position,Batsman Name,Runs,Balls,Fours,Sixes,SR,is_out,Boundary Runs
0,Namibia Vs Sri Lanka,T20I # 1823,Namibia,1,Michael van Lingen,3,6,0,0,50.00,1,0
1,Namibia Vs Sri Lanka,T20I # 1823,Namibia,2,Divan la Cock,9,9,1,0,100.00,1,4
2,Namibia Vs Sri Lanka,T20I # 1823,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,1,16
3,Namibia Vs Sri Lanka,T20I # 1823,Namibia,4,Stephan Baard,26,24,2,0,108.33,1,8
4,Namibia Vs Sri Lanka,T20I # 1823,Namibia,5,Gerhard Erasmus,20,24,0,0,83.33,1,0
5,Namibia Vs Sri Lanka,T20I # 1823,Namibia,6,Jan Frylinck,44,28,4,0,157.14,1,16
6,Namibia Vs Sri Lanka,T20I # 1823,Namibia,7,David Wiese,0,1,0,0,0.00,1,0
7,Namibia Vs Sri Lanka,T20I # 1823,Namibia,8,JJ Smit,31,16,2,2,193.75,0,20
8,Sri Lanka Vs Namibia,T20I # 1823,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,1,4
9,Sri Lanka Vs Namibia,T20I # 1823,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,1,0

## Bowling df

In [108]:
bowling_df

,Match,Match_id,Bowling Team,Bowler Name,Overs,Maiden,Runs,Wickets,Economy,Zeros,Fours,Sixes,Wides,No Balls
0,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,T20I # 1879,Pakistan,Naseem Shah,4.0,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,T20I # 1879,Pakistan,Haris Rauf,4.0,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,T20I # 1879,Pakistan,Shadab Khan,4.0,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,T20I # 1879,Pakistan,Mohammad Wasim,4.0,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,T20I # 1879,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [109]:
#Cleaning the Bowler Name column
bowling_df_name_cleaned = bowling_df.copy()
bowling_df_name_cleaned['Bowler Name'] = bowling_df_name_cleaned['Bowler Name'].apply(lambda x: re.sub("[^A-Z()\s-]", "", x,0,re.IGNORECASE)) #Removing special characters
bowling_df_name_cleaned['Bowler Name'] = bowling_df_name_cleaned['Bowler Name'].apply(lambda x: x.strip()) #Removing extra spaces

bowling_df_name_cleaned.head(10)

,Match,Match_id,Bowling Team,Bowler Name,Overs,Maiden,Runs,Wickets,Economy,Zeros,Fours,Sixes,Wides,No Balls
0,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0
5,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Gerhard Erasmus,1.0,0,8,0,8.00,1,1,0,0,0
6,Sri Lanka Vs Namibia,T20I # 1823,Namibia,David Wiese,4.0,0,16,2,4.00,13,1,0,0,0
7,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Bernard Scholtz,4.0,0,18,2,4.50,10,1,0,0,0
8,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Ben Shikongo,3.0,1,22,2,7.33,6,3,0,0,0
9,Sri Lanka Vs Namibia,T20I # 1823,Namibia,JJ Smit,3.0,0,16,1,5.33,7,0,0,1,0

In [110]:
#Calculating total balls bowled by each bowler
bowling_df_added_columns = bowling_df_name_cleaned.copy()
Balls_bowled=[]
for index,row in bowling_df_added_columns.iterrows():
    overs_list = str(row['Overs']).split('.')
    balls=(6*int(overs_list[0])) + (int(overs_list[1]))
    Balls_bowled.append(balls)
bowling_df_added_columns['Balls Bowled']=Balls_bowled
bowling_df_added_columns.head(10)

,Match,Match_id,Bowling Team,Bowler Name,Overs,Maiden,Runs,Wickets,Economy,Zeros,Fours,Sixes,Wides,No Balls,Balls Bowled
0,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0,24
1,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0,24
2,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0,24
3,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0,24
4,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0,24
5,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Gerhard Erasmus,1.0,0,8,0,8.00,1,1,0,0,0,6
6,Sri Lanka Vs Namibia,T20I # 1823,Namibia,David Wiese,4.0,0,16,2,4.00,13,1,0,0,0,24
7,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Bernard Scholtz,4.0,0,18,2,4.50,10,1,0,0,0,24
8,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Ben Shikongo,3.0,1,22,2,7.33,6,3,0,0,0,18
9,Sri Lanka Vs Namibia,T20I # 1823,Namibia,JJ Smit,3.0,0,16,1,5.33,7,0,0,1,0,18

In [111]:
#Calculating Boundary Runs
boundary_runs=[]
for index,row in bowling_df_added_columns.iterrows():
    runs = (row['Fours']*4) + (row['Sixes']*6)
    boundary_runs.append(runs)
bowling_df_added_columns['Boundary Runs']=boundary_runs
bowling_df_added_columns.head(10)

,Match,Match_id,Bowling Team,Bowler Name,Overs,Maiden,Runs,Wickets,Economy,Zeros,Fours,Sixes,Wides,No Balls,Balls Bowled,Boundary Runs
0,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0,24,0
1,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0,24,18
2,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0,24,18
3,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0,24,18
4,Namibia Vs Sri Lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0,24,10
5,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Gerhard Erasmus,1.0,0,8,0,8.00,1,1,0,0,0,6,4
6,Sri Lanka Vs Namibia,T20I # 1823,Namibia,David Wiese,4.0,0,16,2,4.00,13,1,0,0,0,24,4
7,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Bernard Scholtz,4.0,0,18,2,4.50,10,1,0,0,0,24,4
8,Sri Lanka Vs Namibia,T20I # 1823,Namibia,Ben Shikongo,3.0,1,22,2,7.33,6,3,0,0,0,18,12
9,Sri Lanka Vs Namibia,T20I # 1823,Namibia,JJ Smit,3.0,0,16,1,5.33,7,0,0,1,0,18,0

In [112]:
bowling_df_cleaned = bowling_df_added_columns.copy()

## Player Info df

In [113]:
player_info_df

,Team,Player Name,Age,Player Role,Batting Style,Bowling Style
0,Afghanistan,Mohammad Nabi(c),37,Allrounder,Right hand Bat,Right arm Offbreak
1,Afghanistan,Azmatullah Omarzai,22,Allrounder,Right hand Bat,Right arm Medium fast
2,Afghanistan,Darwish Rasooli,22,Top order Batter,Right hand Bat,Right arm Offbreak
3,Afghanistan,Fareed Ahmad,28,Bowler,Left hand Bat,Left arm Fast medium
4,Afghanistan,Fazalhaq Farooqi,21,Bowler,Right hand Bat,Left arm Fast medium
...,...,...,...,...,...,...
249,Zimbabwe,Blessing Muzarabani,25,Bowler,Right hand Bat,Right arm Fast medium
250,Zimbabwe,Richard Ngarava,24,Bowler,Left hand Bat,Left arm Fast medium
251,Zimbabwe,Milton Shumba,21,Top order Batter,Left hand Bat,Slow Left arm Orthodox
252,Zimbabwe,Sikandar Raza,36,Batting Allrounder,Right hand Bat,Right arm Offbreak
253,Zimbabwe,Sean Williams,35,Middle order Batter,Left hand Bat,Slow Left arm Orthodox

In [114]:
#Cleaning the Player Name column
player_info_df_name_cleaned = player_info_df.copy()
player_info_df_name_cleaned['Player Name'] = player_info_df_name_cleaned['Player Name'].apply(lambda x: re.sub("[^A-Z()\s-]", "", x,0,re.IGNORECASE)) #Removing special characters
player_info_df_name_cleaned['Player Name'] = player_info_df_name_cleaned['Player Name'].apply(lambda x: re.sub("([A-Za-z\s-]+)Withdrawn player", r'\1', x,0,re.IGNORECASE))
player_info_df_name_cleaned.head(25)

,Team,Player Name,Age,Player Role,Batting Style,Bowling Style
0,Afghanistan,Mohammad Nabi(c),37,Allrounder,Right hand Bat,Right arm Offbreak
1,Afghanistan,Azmatullah Omarzai,22,Allrounder,Right hand Bat,Right arm Medium fast
2,Afghanistan,Darwish Rasooli,22,Top order Batter,Right hand Bat,Right arm Offbreak
3,Afghanistan,Fareed Ahmad,28,Bowler,Left hand Bat,Left arm Fast medium
4,Afghanistan,Fazalhaq Farooqi,21,Bowler,Right hand Bat,Left arm Fast medium
5,Afghanistan,Gulbadin Naib,31,Batting Allrounder,Right hand Bat,Right arm Medium fast
6,Afghanistan,Ibrahim Zadran,20,Opening Batter,Right hand Bat,Right arm Medium fast
7,Afghanistan,Mohammad Saleem,20,Bowler,Right hand Bat,Right arm Fast
8,Afghanistan,Mujeeb Ur Rahman,21,Bowler,Right hand Bat,Right arm Offbreak
9,Afghanistan,Najibullah Zadran,29,Middle order Batter,Left hand Bat,Right arm Offbreak
10,Afghanistan,Naveen-ul-Haq,22,Bowler,Right hand Bat,Right arm Medium fast
11,Afghanistan,Qais Ahmad,22,Bowler,Right hand Bat,Legbreak
12,Afghanistan,Rahmanullah Gurbaz,20,Wicketkeeper Batter,NaN,NaN
13,Afghanistan,Rashid Khan,23,Bowling Allrounder,Right hand Bat,Legbreak Googly
14,Afghanistan,Usman Ghani,25,Opening Batter,NaN,NaN
15,Afghanistan,Hazratullah Zazai,24,Opening Batter,Left hand Bat,Slow Left arm Orthodox
16,Australia,Aaron Finch(c),35,Top order Batter,Right hand Bat,Slow Left arm Orthodox
17,Australia,Pat Cummins(vc),29,Bowler,Right hand Bat,Right arm Fast
18,Australia,Ashton Agar,28,Bowler,Left hand Bat,Slow Left arm Orthodox
19,Australia,Tim David,26,Middle order Batter,Right hand Bat,Right arm Offbreak
20,Australia,Cameron Green,23,Batting Allrounder,Right hand Bat,Right arm Fast medium
21,Australia,Josh Hazlewood,31,Bowler,Left hand Bat,Right arm Fast medium
22,Australia,Mitchell Marsh,30,Allrounder,Right hand Bat,Right arm Medium
23,Australia,Glenn Maxwell,33,Batting Allrounder,Right hand Bat,Right arm Offbreak
24,Australia,Kane Richardson,31,Bowler,Right hand Bat,Right arm Fast medium

In [115]:
#Loading csv file with image link and description of players
images_df = pd.read_csv('D:/DataAnalysisProjects-master/DataAnalysisProjects-master/5_CricketT20Analytics/data_collection/t20_csv_files/dim_players.csv')
images_df.image.notnull().sum()

31

In [116]:
#Building images dataframe to merge with player info
images_df['Player Name'] = images_df['name']
images_merge = images_df[['Player Name','image']].copy()

In [117]:
player_info_merged = pd.merge(left=player_info_df_name_cleaned,right=images_merge,on='Player Name',how='left')
player_info_merged['image'].notnull().sum()

31

In [118]:
#Removing (c) from the names
player_info_cleaned = player_info_merged.copy()
for index,name in enumerate(player_info_cleaned['Player Name']):
    cleaned_name = name
    if re.search('[A-Za-z\-\s]+\([a-z]+\)',name):
        cleaned_name = ' '.join(re.findall("([A-Za-z\-\s]+)\([a-z]+\)",name,re.IGNORECASE))
    cleaned_name=cleaned_name.strip()
    player_info_cleaned['Player Name'].loc[index]=cleaned_name

player_info_cleaned

C:\Users\yashd\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Team,Player Name,Age,Player Role,Batting Style,Bowling Style,image
0,Afghanistan,Mohammad Nabi,37,Allrounder,Right hand Bat,Right arm Offbreak,NaN
1,Afghanistan,Azmatullah Omarzai,22,Allrounder,Right hand Bat,Right arm Medium fast,NaN
2,Afghanistan,Darwish Rasooli,22,Top order Batter,Right hand Bat,Right arm Offbreak,NaN
3,Afghanistan,Fareed Ahmad,28,Bowler,Left hand Bat,Left arm Fast medium,NaN
4,Afghanistan,Fazalhaq Farooqi,21,Bowler,Right hand Bat,Left arm Fast medium,NaN
...,...,...,...,...,...,...,...
249,Zimbabwe,Blessing Muzarabani,25,Bowler,Right hand Bat,Right arm Fast medium,NaN
250,Zimbabwe,Richard Ngarava,24,Bowler,Left hand Bat,Left arm Fast medium,NaN
251,Zimbabwe,Milton Shumba,21,Top order Batter,Left hand Bat,Slow Left arm Orthodox,NaN
252,Zimbabwe,Sikandar Raza,36,Batting Allrounder,Right hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t..."
253,Zimbabwe,Sean Williams,35,Middle order Batter,Left hand Bat,Slow Left arm Orthodox,NaN

## Exporting all the Dataframes as csv files

In [119]:
batting_df_cleaned.to_csv('batting_cleaned.csv',index=False)

In [120]:
bowling_df_cleaned.to_csv('bowling_cleaned.csv',index=False)

In [121]:
results_df.to_csv('match_results_cleaned.csv',index=False)

In [122]:
player_info_cleaned.to_csv('player_info_cleaned.csv', index=False)